.IconComponent {
    border: var(--scaffold);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.MainLogo {
    position: relative;
    width: 500px;
}

@media (max-width: 620px) {
    .IconComponent {
        bottom: 40px;
        border: var(--scaffold);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .MainLogo {
        position: relative;
        width: 500px;
        justify-self: center;
        align-self: center;
        max-width: 95%;
        min-width: 400px;
    }
}