.IconComponent {
    border: var(--scaffold);
    position: relative;
}

.MainLogo {
    position: relative;
    width: 500px;
}

@media (max-width: 620px) {
    .IconComponent {
        bottom: 40px;
        border: var(--scaffold);
        max-width: 90%;
    }
}