.menuTitle {
    height: 60px;
    width: 150px;
    min-width: 400px;
    margin-left: 40px;
    margin-right: 20px;
    font-size: 20px;
    line-height: 60px;
    text-decoration: none;
    color: inherit;
    border: var(--scaffold);
}

@media (max-width: 620px) {
    .menuTitle {
        margin-left: 10%;
        color: white;
        background-color: red;
        min-width: 150px;
    }
}