.FooterBanner {
    background-color: lightpurple;
    border: var(--scaffold);
    width: 100%;   
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    margin-top: 20px;
    align-self: flex-end;
    position: inherit;
}

.IconContainer {
    border: var(--scaffold);
    display: flex;
    font-size: 50px;
    color: rgb(78, 88, 78);
    display: flex;
    justify-content: space-around;
    margin: 15px;
    width: 490px;
    justify-self: center;
    align-self: center;
}

.icon:hover {
    color: rgb(214, 126, 123)
}

.Trademark {
    border: var(--scaffold);
    margin: 25px;
    margin-bottom: 40px;
}

.Links {
    display: flex;
    align-self: center;
    margin-bottom: 10px;
}

@media (max-width: 620px) {
    .Links {
        max-width: 100%;
        flex-direction: column;
    }
    .IconContainer {
        width: 220px;
    }
}
