.ProvidedService {
    display: flex;
    flex-direction: column;
    max-width: 275px;
}

.icon {
    align-self: center;
    font-size: 150px;
    color: rgb(211,140,126);
}

.title {
    align-self: center;
    bottom: 10px;
    margin-bottom: 12px;
    font-family: 'Abel', sans-serif;
}

.details {
    align-self: center;
    font-family: 'Abel', sans-serif;
}