.firstBannerTextTitle {
    font-size: 80px;
    font-family: 'Karla', sans-serif;
    color: white;
    margin-bottom: 20px;
    border: var(--scaffold);
}

.firstBannerText {
    font-size: 40px;
    font-family: 'Karla', sans-serif;
    color: white;
    margin-bottom: 2px;
    border: var(--scaffold);
}

.firstBannerTextTwo {
    font-size: 70px;
    font-family: 'WindSong', cursive;
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    border: var(--scaffold);
}

.ServiceTitle {
    font-size: 32px;
    font-family: 'Karla', sans-serif;
    color: darkslategray;
    border: var(--scaffold);
}

.Image {
    width: 300px;
    height: 300px;
    border: var(--scaffold);
}

.ServiceTitle {
    margin: 20px;
    border: var(--scaffold);
    margin-top: 0px;
}

.ServicePoint {
    font-family: 'Karla', sans-serif;
    font-size: 21px;
    border: var(--scaffold);
}